In [6]:
import numpy as np
#creating array
arr1 = np.array([1, 2, 3])
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
print(arr1 + arr2)

#array operation(vectorization)
print(arr1*2)
print(arr1+arr2)

#reshaping
arr3=np.arange(12).reshape(3,4)
print(arr3)

#matrix operation
matrix1=np.array([[1,2],[3,4]])
matrix2=np.array([[5,6],[7,8]])
print(np.dot(matrix1,matrix2))

#statistical operation
data=np.random.normal(0,1,1000)#1000random number from normal distribution
print(f"Mean: {data.mean()},std :{data.std()}")

[[2 4 6]
 [5 7 9]]
[2 4 6]
[[2 4 6]
 [5 7 9]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[19 22]
 [43 50]]
Mean: 0.002174057670709786,std :1.0238348050097987

In [7]:
import numpy as np
import pandas as pd
data={
    'name':['alice','bob','charlie','david'],
    'age':[25,35,40],
    'salary':[5000,45000,60000,70000]
}
df=pd.DataFrame(data)
print(df)

print(df.head(2))
print(df.describe())
print(df['age'].mean())

print(df[df['age']>30])
print(df.loc[1:2, ['name','salary']])

#handling missing data
df_with_nan=pd.DataFrame({
    'a': [1,2,np.nan,4],
    'b': [5,np.nan,np.nan,8]
})
print(df_with_nan.fillna(value=0))#replace nan with 0
print(df_with_nan.dropna())#drop row with nan

df['department']=['hr','tech','tech','hr']
print(df.groupby('department').mean())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (766075664.py, line 4)

In [14]:
import pandas as pd
import numpy as np

data={
    'name':['alice','bob','charlie','david'],
    'age':[25,90,35,40],
    'salary':[50000,60000,70000,80000]
}
df=pd.DataFrame(data)
print(df)

print(df.head(2))
print(df.describe())
print(df['age'].mean())

print(df[df['age']>30])
print(df.loc[1:2,['name','salary']])

df_with_nan=pd.DataFrame({
    'a':[1,2,np.nan,4],
    'b':[5,np.nan,np.nan,8]
})
print(df_with_nan.fillna(value=0))
print(df_with_nan.dropna())

df['department']=['hr','tech','tech','hr']
print(df.groupby('department').mean(numeric_only=True))

df2=pd.DataFrame({
    'name':['alice','bob','eve'],
    'bonus':[2000,1500,3000]
})
print(pd.merge(df,df2,on='name',how='left'))

date_rng=pd.date_range(start='1/1/2023',end='1/10/2023',freq='D') 
ts=pd.DataFrame(date_rng,columns=['data'])
ts['value']=np.random.randint(0,100,size=(len(date_rng)))
ts.set_index('data',inplace=True)
print(ts.resample('3D').mean())

      name  age  salary
0    alice   25   50000
1      bob   90   60000
2  charlie   35   70000
3    david   40   80000
    name  age  salary
0  alice   25   50000
1    bob   90   60000
             age        salary
count   4.000000      4.000000
mean   47.500000  65000.000000
std    29.011492  12909.944487
min    25.000000  50000.000000
25%    32.500000  57500.000000
50%    37.500000  65000.000000
75%    52.500000  72500.000000
max    90.000000  80000.000000
47.5
      name  age  salary
1      bob   90   60000
2  charlie   35   70000
3    david   40   80000
      name  salary
1      bob   60000
2  charlie   70000
     a    b
0  1.0  5.0
1  2.0  0.0
2  0.0  0.0
3  4.0  8.0
     a    b
0  1.0  5.0
3  4.0  8.0
             age   salary
department
hr          32.5  65000.0
tech        62.5  65000.0
      name  age  salary department   bonus
0    alice   25   50000         hr  2000.0
1      bob   90   60000       tech  1500.0
2  charlie   35   70000       tech     NaN
3    david   40   80000         hr     NaN
                value
data
2023-01-01  52.666667
2023-01-04  58.000000
2023-01-07  25.333333
2023-01-10  62.000000